@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    Archivo,
    system-ui,
    -apple-system,
    Segoe UI,
    sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  color: #303841;
}
